*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body{
    min-height: 100vh;
    display: flex;
    padding: 0px 10px;
    align-items: center ;
    justify-content: center;
    background-color: orange;

}
.wrapper{
    width: 770px;
    padding: 35px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.5);
}
.wrapper .content-box{
    padding: 13px 20px 0;
    border-radius: 10px;
    border: 1px solid #bfbfbf;
}
.wrapper h1{
    text-align: center;
    margin-bottom: 20px;
}
.input-field{
    padding: 13px 30px 0;
    position: absolute;
    opacity: 0;
    z-index: -99;
}
.content-box .content{
    margin-top: 17px;
    display: flex;
    padding: 12px 0;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid #bfbfbf;

}
.content-box .result-details{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width:calc(100% - 140px);
}
.result-details li{
    display: flex;

    height: 20px;
    list-style: none;
    align-items: center;
}
.content button{
    outline: none;
    border: none;
    color: #ffffff;
    background: orange;
    padding: 8px 0;
    font-size: 16px;
    cursor: pointer;
    border-radius: 8px;
    width: 105px; 
    transition: transform 0.3s ease;
}
.content button:active{
    transform: scale(0.97);
}
.typing-test p span{
    position: relative;

} 
.typing-test p span.active{
    color: orange;
}
.typing-test p span.correct{
    color: green;
}
.typing-test p span.incorrect{
    color: red;
    outline: 1px solid #ffffff ;
    background: #ffc0cb;
    border-radius: 4px;
}
::selection{
    color: #ffffff;
    background: #ffc0cb;
}